body{
    background: #EEECE0;
    font-family: Arial, sans-serif;
    margin-top: 0%;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar{
    background-color:#585836;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: right;
}

.logo{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

#profile-pic{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: 100px;
}

#about{
    color: #EEECE0;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#home{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#contact{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#contact:hover , #home:hover{
    color: #EEECE0;
    border-radius: 5px;
}

h2{
    margin-top: 30px;
    text-align: center;
}

#about1{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

#about2{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

#about3{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

#about4{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

#about5{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

#about6{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #585836;
    padding-bottom: 20px;
}

.footer{
    margin-top: 100px;
    text-align: center;
    font-size: 10px;
}