body{
    background: #EEECE0;
    font-family: Arial, sans-serif;
    margin-top: 0%;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar{
    background-color:#585836;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: right;
}

.logo{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

#profile-pic{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: 100px;
}

#home{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#about{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#contact{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#contact:hover , #about:hover , #home:hover{
    color: #EEECE0;
    border-radius: 5px;
}

.feed{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.post{
  width: 350px;
  background: #deceaf;
  border: 2px solid #000;
  padding: 20px;
  box-sizing: border-box;
}

.post-footer{
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.profile-feed{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name{
  margin: 0;
  font-weight: bold;
}

.imganime{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}