body{
    background: #EEECE0;
    font-family: Arial, sans-serif;
    margin-top: 0%;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar{
    background-color:#585836;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: right;
}

.logo{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

#profile-pic{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: 100px;
}

#contact{
    color: #EEECE0;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#about{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#home{
    color: #AA8F85;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#home:hover , #about:hover{
    color: #EEECE0;
    border-radius: 5px;
}

#fb{
    margin-top: 30px;
    margin-left: 10px;
    text-align: center right;
}

#x{
    margin-top: 30px;
    margin-left: 10px;
    text-align: center right;
}

#ig{
    margin-top: 30px;
    margin-left: 10px;
    text-align: center right;
}

#fb:hover, #x:hover, #ig:hover{
    color: #AA8F85;

}

img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 660px;
    margin-top: 10px;
    margin-right: 20px;
}

h2{
    margin-top: 30px;
    text-align: center;
}

.footer{
    margin-top: 100px;
    text-align: center;
    font-size: 10px;
}

#contact1{
    text-align: center;
    font-size: 20px;
}


a{
    text-decoration: none;
    color: black;
}